
body{
    margin: 0;
    background: url("../img/pattern.png");
    line-height: 1.5;
    font-size: 25px;
    font-style: italic;

}

.card{
    width: 70%;
    margin: 30px auto;
    background: #ffff;
    box-shadow: 0 5px 10px
    #cccc;
    border-radius: 10px;
    padding: 20px;

}
.card-photo{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title{
    font-size: 25px;
    color: #310101;
}
.card-text{

    font-size: 22px;
}
.text-sub{
    font-size: 25px;

}
blockquote {
    margin: 0;
    color: #231E28;
    padding: 30px 30px 30px 60px;
    border-left: 8px solid #CBDDE7;
    position: relative;
    background: #FAF8EB;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
blockquote:before{
    content: "\201C";
    font-family: Arial;
    color: #CBDDE7;
    font-size: 70px;
    position: absolute;
    left: 15px;
    top: 5px;
}
blockquote p {

    font-style: italic;
    font-size: 24px;
    margin-top: 0;
}
.photo2{
    display: block;
    width: 83%;
    height: 41%;
    margin: 0 auto;
}
.nad1{
    text-align: center;
}
.photo3{
    display: block;
    width: 83%;
    height: 41%;
    margin: 0 auto;
}
.loading{
    display: flex;
    justify-content: center;
}
.loading--full-height{
    align-items: center;
    height: 100px;
}
.loading:after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-bottom-color: #009579;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    to {
        transform: rotate(1turn);

    }
}



